@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,800;1,600;1,800&display=swap");
:root {
  --Text-Color: hsl(200, 15%, 8%);
  --Elements-Color: hsl(0, 0%, 100%);
  --Background-Color: hsl(0, 0%, 98%);
  --Element-Box-Shadow-Color: hsl(200, 15%, 8%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--Background-Color);
  color: var(--Text-Color);
  font-size: 14px;
}
body::-webkit-scrollbar {
  display: none;
}
main {
  max-width: 1280px;
  margin: 0 auto;
}
.icon {
  color: var(--Text-Color);
}

.countriesList {
  max-width: 1280px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 70px;
}
a {
  color: var(--Text-Color);
  text-decoration: none;
}
.country-element {
  background-color: var(--Elements-Color);
  border-radius: 5px;
  box-shadow: 0px 0px 5px -2px var(--Element-Box-Shadow-Color);
  cursor: pointer;
}
.country-element img {
  border-radius: 5px;
  width: 100%;
}
.country-element-information {
  padding: 15px;
}
.country-element-information h2 {
  padding: 10px 0;
}
.country-element-information p {
  font-weight: 600;
}
.country-element-information span {
  font-weight: 300;
}
.back-button,
.border-country-button {
  background-color: var(--Elements-Color);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px -2px var(--Element-Box-Shadow-Color);
  color: var(--Text-Color);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  justify-content: space-evenly;
  margin: 50px 0;
  padding: 12px 20px;
  width: 120px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container img {
  box-shadow: 0px 0px 5px -2px var(--Element-Box-Shadow-Color);
  width: 100%;
}
.information {
  padding: 30px 70px;
  font-size: 16px;
}
.information h2 {
  font-size: 2em;
  padding: 10px 0;
}
.details {
  display: flex;
  justify-content: space-between;
}
.information p {
  padding: 4px 0;
  font-weight: 600;
}
.information span {
  font-weight: 300;
}
.border-countries {
  align-items: center;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
}
.border-countries-buttons {
  display: flex;
  justify-content: space-between;
}
.border-country-button {
  font-size: 14px;
}
@media only screen and (max-width: 1060px) {
  .countriesList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 700px) {
  .countriesList {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 400px) {
  .countriesList {
    grid-template-columns: 1fr;
  }

  .container {
    grid-template-columns: 1fr;
  }
  .information {
    padding: 30px 0;
  }
  .details {
    flex-wrap: wrap;
    gap: 30px;
  }
  .border-countries {
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .border-country-button {
    margin: 0;
  }
}

/* DARK MODE */
body.dark {
  --Text-Color: hsl(0, 0%, 100%);
  --Elements-Color: hsl(209, 23%, 22%);
  --Background-Color: hsl(207, 26%, 17%);
  --Element-Box-Shadow-Color: hsl(209, 23%, 22%);
}
