@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,800;1,600;1,800&display=swap");
:root {
  --Text-Color: hsl(200, 15%, 8%);
  --Elements-Color: hsl(0, 0%, 100%);
  --Background-Color: hsl(0, 0%, 98%);
  --Element-Box-Shadow-Color: hsl(200, 15%, 8%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--Background-Color);
  color: var(--Text-Color);
  font-size: 14px;
}
body::-webkit-scrollbar {
  display: none;
}
header {
  background-color: var(--Elements-Color);
  box-shadow: 0px 0px 5px -2px var(--Element-Box-Shadow-Color);
  font-weight: 600;
  font-size: 1.1em;
}
header > div {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1% 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dark-mode-button {
  background-color: var(--Elements-Color);
  border: 0;
  color: var(--Text-Color);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
  width: 100px;
}
main {
  max-width: 1280px;
  margin: 0 auto;
}
form {
  padding: 2% 0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.search-bar {
  align-items: center;
  background-color: var(--Elements-Color);
  border-radius: 5px;
  box-shadow: 0px 0px 5px -2px var(--Element-Box-Shadow-Color);
  display: flex;
  width: 350px;
}
.search-bar .icon {
  padding-left: 20px;
  padding-right: 12px;
}
::placeholder {
  color: var(--Text-Color);
}
.icon {
  color: var(--Text-Color);
}
.search-bar-input {
  width: 290px;
  padding: 15px;
  background-color: var(--Elements-Color);
  border: none;
  color: var(--Text-Color);
}
*:focus {
  outline: none;
}

.drop-down-menu {
  align-items: center;
  background-color: var(--Elements-Color);
  border-radius: 5px;
  box-shadow: 0px 0px 5px -2px var(--Element-Box-Shadow-Color);
  cursor: pointer;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  width: 180px;
}
.drop-down-menu-options {
  background-color: var(--Elements-Color);
  box-shadow: 0px 0px 5px -2px var(--Element-Box-Shadow-Color);
  left: 0;
  padding: 6px 0;
  position: absolute;
  top: 50px;
  width: 180px;
}
.drop-down-menu-option {
  padding: 6px 20px;
}
.drop-down-menu-option:hover {
  opacity: 0.8;
}
.countriesList {
  max-width: 1280px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 70px;
}
a {
  color: var(--Text-Color);
  text-decoration: none;
}
.country-element {
  background-color: var(--Elements-Color);
  border-radius: 5px;
  box-shadow: 0px 0px 5px -2px var(--Element-Box-Shadow-Color);
  cursor: pointer;
}
.country-element img {
  border-radius: 5px;
  width: 100%;
}
.country-element-information {
  padding: 15px;
}
.country-element-information h2 {
  padding: 10px 0;
}
.country-element-information p {
  font-weight: 600;
}
.country-element-information span {
  font-weight: 300;
}
.back-button,
.border-country-button {
  background-color: var(--Elements-Color);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px -2px var(--Element-Box-Shadow-Color);
  color: var(--Text-Color);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  justify-content: space-evenly;
  margin: 50px 0;
  padding: 12px 20px;
  width: 120px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container img {
  box-shadow: 0px 0px 5px -2px var(--Element-Box-Shadow-Color);
  width: 100%;
}
.information {
  padding: 30px 70px;
  font-size: 16px;
}
.information h2 {
  font-size: 2em;
  padding: 10px 0;
}
.details {
  display: flex;
  justify-content: space-between;
}
.information p {
  padding: 4px 0;
  font-weight: 600;
}
.information span {
  font-weight: 300;
}
.border-countries {
  align-items: center;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
}
.border-countries-buttons {
  display: flex;
  justify-content: space-between;
}
.border-country-button {
  font-size: 14px;
}
@media only screen and (max-width: 1060px) {
  .countriesList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 700px) {
  .countriesList {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 375px) {
  .countriesList {
    grid-template-columns: 1fr;
  }
  main {
    width: 90%;
  }
  form {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .search-bar {
    width: 90%;
  }
  .drop-down-menu {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .container {
    grid-template-columns: 1fr;
  }
  .information {
    padding: 30px 0;
  }
  .details {
    flex-wrap: wrap;
    gap: 30px;
  }
  .border-countries {
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .border-country-button {
    margin: 0;
  }
}

/* DARK MODE */
body.dark {
  --Text-Color: hsl(0, 0%, 100%);
  --Elements-Color: hsl(209, 23%, 22%);
  --Background-Color: hsl(207, 26%, 17%);
  --Element-Box-Shadow-Color: hsl(209, 23%, 22%);
}
